.topBtn{
    display: flex;
    justify-content: space-between;
    align-items: center
}

.top{
    display: flex;
    align-items: center;
    margin-bottom: 40px
}
.layui-btn div{
    display: none;
}
.layui-btn:hover div{
    display: initial;
}

.layui-btn:hover img{
    display: none;
}