.Htable{
    background: #fafafa;
    display: flex;
    justify-content: space-between;
    padding: 5px 16px;
    border: 1px solid #e8e8e8
}

.title{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center
}