.project-item{
    display: flex;
      margin-top: 8px;
      overflow: hidden;
      font-size: 12px;
      height: 20px;
      line-height: 20px;
      justify-content: space-between;
}

.gutter-row300{
    /* width: 300px; */
}

.ant-layout-content {
    padding: 0!important;
  }


.bot_line{
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}

.head2{
	height: 376px;
	margin-right: 10px;
}
.head3{
	width: calc(25% - 20px);
	height: 376px;
}