.meeingTable {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    height: 300px;
}

.meeingTable,
.meeingTable td,
.meeingTable th {
    border: 1px solid #81d4fa;
    background: #e2e2e2
}



.meeingTable .name{
    background: #5dade2;
    color: white
}

.meeingTable .pass{
    background: #f1948a
}

.meeingTable .nopass{
    background: #26c6da
}

.pass1{
    background: #f1948a
}

.nopass1{
    background: #26c6da
}

.free{
    border: 1px solid gray;
    height: 20px;
    width: 30px;
    
}

.meeingTable .no_order{
    background: white
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px
}

.status{
    display: flex;
    align-items: center
}
