/* @import 'react-big-calendar/lib/sass/styles'; */
.top_button{
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 10px; */
  align-items: center
}
.ant-layout-content {
	padding: 0!important;
}